@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
.login {
  margin-top: 2em;
}
.button-div {
  text-align: center;
}
.login-error {
  margin-bottom: 1em;
  color: red !important;
}
.login p {
  margin: 1em;
}
.dashboard h3 {
  margin-top: 0.6em;
}
.dashboard .card {
  cursor: pointer;
  color: black;
  background: #f8f5f5;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0.5em;
}
.dashboard .card:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.dashboard p {
  margin: 0;
}
.dashboard .product-name {
  font-weight: 600;
}
.product-price {
  color: #4cbc30;
  font-weight: 600;
}
.dashboard-link-product:hover {
  text-decoration: none;
}
.dashboard .card {
  display: grid;
  grid-template-columns: 60% 40%;
}
.dashboard .card-body {
  grid-column: 1;
}
.dashboard .card-image {
  grid-column: 2;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.card img {
  border-radius: 15px;
  max-width: 90%;
  vertical-align: middle;
  max-height: 80%;
}
.food-details textarea {
  margin: 1em auto;
  display: block;
  width: 90%;
}
.increment,
.order-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.increment button {
  border-radius: 100%;
  border: none;
  padding: 0.5em 1em;
  margin: 1em;
  outline: none;
}
.order-btn {
  border: none;
  border-radius: 10px;
  padding: 0.5em 2em;
  background: #4cbc30;
  color: white;
  margin: 1em auto;
}
.order-btn:focus {
  outline: none;
}
.card-details {
  text-align: center;
  display: inherit;
  background: #f8f5f5;
}
.navbar {
  padding: 0.3em;
  background-color: #caa10e;
  border: 5px solid #a8860e;
}
.navbar-brand {
  font-weight: 600;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
  outline: none;
}
.card-details-seller img {
  margin-bottom: 1em;
  width: 100%;
  border-radius: 10px;
}
.update-product img {
  width: 100%;
  border-radius: 10px;
}
.clickable-badge:hover {
  cursor: pointer;
}
.post-product img {
  width: 80%;
  border-radius: 10px;
}
.order-card {
  background: #f7f7f7;
  border: none;
  margin: 0.2em 0;
  padding: 1em;
}

.order-card button {
  margin: 3px;
}
.text-green {
  color: #a8860e;
}
.text-gray {
  color: #a1a1a1;
}
.tags {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
}
.tags-1 {
  color: white;
  background: linear-gradient(151.3deg, #eb6666 0%, #91814b 100%);
  border-radius: 5px;
  padding: 2em 1em;
  margin: 0.2em;
}
.tags-2 {
  color: white;
  border-radius: 5px;
  padding: 2em 1em;
  margin: 0.2em;
  background: linear-gradient(151.3deg, #dbcd83 0%, #897e1d 100%);
}
.tags-3 {
  color: white;
  border-radius: 5px;
  padding: 2em 1em;
  margin: 0.2em;
  background: linear-gradient(151.3deg, #c8eb66 0%, #c7db9c 100%);
}
.tags-4 {
  color: white;
  background: linear-gradient(151.3deg, #66e3eb 0%, #5f80a7 100%);
  border-radius: 5px;
  padding: 2em 1em;
  margin: 0.2em;
}
.tags-5 {
  color: white;
  border-radius: 5px;
  padding: 2em 1em;
  margin: 0.2em;
  background: linear-gradient(151.3deg, #91e3a8 0%, #69914b 100%);
}
.tags-6 {
  color: white;
  background: linear-gradient(151.3deg, #bc8160 0%, #ecd455 100%);
  border-radius: 5px;
  padding: 2em 1em;
  margin: 0.2em;
}
.profile-header-container {
  margin: 0 auto;
  text-align: center;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51d2b7;
  border-radius: 50%;
}

.profile-header {
  margin-top: 43px;
}

/**
* Ranking component
*/
.rank-label-container {
  margin-top: -19px;
  /* z-index: 1000; */
  text-align: center;
}

.label.label-default.rank-label {
  background-color: #34a362;
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
  color: white;
}
.edit-profile img {
  width: 100%;
}
