@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
.login {
  margin-top: 2em;
}
.button-div {
  text-align: center;
}
.login-error {
  margin-bottom: 1em;
  color: red !important;
}
.login p {
  margin: 1em;
}
.dashboard h3 {
  margin-top: 0.6em;
}
.dashboard .card {
  cursor: pointer;
  color: black;
  background: #f8f5f5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.dashboard .card:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.link-card-dashboard:hover {
  text-decoration: none;
}
.dashboard p {
  margin: 0;
}
.dashboard .product-name {
  font-weight: 600;
}
.dashboard .product-price {
  color: #4cbc30;
  font-weight: 600;
}
